#carouselExampleCaptions{
    margin-top: 10px;
}

body {
    background-color: rgb(250, 248, 245);
}

p {
    font-size: medium;
}

.accordion{
    margin: 10px 150px 0px 150px;
}
    
.accordion-body{
    background-color: rgb(226, 224, 240);
}

.masca-ls{
    margin: 250px;
    color: rgb(75, 75, 189);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.hoy{
    text-align: center;
}
.info{
    text-align: center;
    margin: 100px;
}